/* Variables */
:root {
  --bg-color: #fff3e3;
  --text-color: #332110;
  --cool-gray: #dedede;
}

/* Main body of webpage */
body {
    background-image: url("blue.png");
    background-repeat: no-repeat space;
    background-position: right top;
    margin: 20px;
    background-attachment: fixed;
    font-family: "Verdana";
    background-color: var(--bg-color);
    color: var(--text-color);
}

#row {
  min-width: 100%;
}

#leftbox {
  padding: 8px;
  margin: 8px;
  display: inline-block;
  width: 50%;
  min-width: 30%;
  min-height: 100%;
  text-align: center;
  float: left;
}

#rightbox {
  padding: 20px;
  margin: 8px;
  display: inline-block;
  background-color: var(--cool-gray);
  width: 20%;
  min-width: 30%;
  min-height: 100%;
  text-align: center;
  border: 2px solid black;
  float: left;
}

.content {
  background-color: var(--bg-color);
  min-width: 100%;
  margin: 10px;
}

/* Browser width-specific styles */

@media only screen and (max-width: 600px) {
  #leftbox {
    border: 8px double red;
  }
}

@media only screen and (min-width: 601px) {
  #leftbox {
    border: 8px double blue;
  }
}

#clear {
    clear: both;
}
